{% extends 'blog/base.html' %}
{% block title %}{{ categoria.titulo }}{% endblock %}

{% block content %}
       <div class="categorias">
              <b>Categorias</b>
              {% if postagens %}
                     <ul class="categoria-list">
                     {% for postagem in postagens %}
                            <li class="categoria-item"><a href="{% url 'blog:postagem' postagem.slug %}">{{ postagem.titulo }}</a></li>
                     {% endfor %}
                     </ul>
              {% else %}
                     <p>Não existem postagens para essa categoria.</p>
              {% endif %}
       </div>
{% endblock %}