{% extends 'blog/base.html' %}
{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
    <div class="postagem">
        <div class="detalhes-postagem">
            <h2>{{ postagem.titulo }}</h3>
            <p>Categoria: <a href="{% url 'blog:categoria' postagem.categoria.slug %}">{{ postagem.categoria.titulo }}</a></h4>
            <p>Escrito por Deivyd  em {{ postagem.data }}</h4>
        </div>
        <div class="corpo">
            {{ postagem.corpo }}
        </div>
    </div>
{% endblock %}